@use 'base/variables' as v;
@use 'base/mixins' as m;

// .formulario{
//     display: flex;
//     flex-direction: column;

//     &__campo{
//         display: flex;
//         flex-direction: column;
//         gap: 1rem;
//         margin: 1.5rem 0;
//     }

//     &__label{
//         display: block;
//         font-size: 1.8rem;
//         color: rgba(v.$negro, .8);
//     }

//     &__input{
//         padding: 1rem;
//         border: 1px solid v.$gris;
//         border-radius: 1rem;
//     }
//     &__submit{
//         @include m.boton(v.$azul, v.$blanco);
//         width: auto;
//         align-self: flex-start;

//     }
// }


.formulario {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    &__campo {
        flex: 1 1 calc(50% - 1rem); // Dos columnas con espacio entre ellas
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    &__label {
        font-size: 1.6rem;
        color: rgba(v.$negro, .8);
    }

    &__input,
    select {
        padding: 0.8rem 1rem;
        border: 1px solid v.$gris;
        border-radius: 0.8rem;
        font-size: 1.4rem;
    }

    &__submit {
        @include m.boton(v.$azul, v.$blanco);
        margin-top: 2rem;
        align-self: flex-start;
    }
}
