
# Activar motor de reescritura
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]



<RequireAll>
    Require all denied
  
    Require ip 186.65.39.242
    Require ip 192.168.25.254
    Require ip 192.168.25.52

</RequireAll>

# Respuesta vacía para bloqueados (sin cargar PHP)
ErrorDocument 403 " "
