# Bloquea si Cloudflare indica país y NO es Ecuador
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTP:CF-IPCountry} .
RewriteCond %{HTTP:CF-IPCOUNTRY} !^EC$ [NC]
RewriteRule ^ - [F]
</IfModule>

# Tus reglas actuales
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
