@use 'base/variables' as v;
@use 'base/mixins' as m;
.no-areas{
    a{
        color: v.$indigo;
    }
}
.listado-areas{
    list-style: none;
    padding: 0;
    margin-top: 3rem;
    .areas{
        background-color: lightblue;
        min-height: 12rem;
        display: flex;
        flex-direction: column;
    }
}