@use 'base/variables' as v;
@use 'base/mixins' as m;
.no-areas{
    a{
        color: v.$indigo;
    }
}
.listado-areas{
    list-style: none;
    padding: 0;
    margin-top: 3rem;
    @include m.grid(1, 2rem);
     // para que se vea 2 columnas
     @include m.tablet{
         @include m.grid(2,2rem);
     }
     // para que se vea 3 columnas
     @include m.desktop{
         @include m.grid(3,2rem);
     }
    .areas{
        background-color: lightblue;
        border-radius: 1rem;
        min-height: 12rem;
        display: flex;
       align-items: center;
       padding: 2rem;
       &_nombre{

           text-align: center;
       }

       a{
        color: v.$blanco;
       }
    }
}