@use 'base/variables' as v;
@use 'base/mixins' as m;

.formulario{
    display: flex;
    flex-direction: column;

    &__campo{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}